/NBA_Playoff_Game_Logs.xlsx
/NBA_Playoff_Games_2004-2024.xlsx
/NBA_Playoff_Games_2022-2024.xlsx
/Untitled.pdf
/all_players_3pt_percentage.csv
/all_players_3pt_percentage_and_attempts.csv
/ant_shai_top10.py
/ant_steph_animation.py
/basketball_reference_links.csv
/basketball_reference_records.csv
/bionic_reading
/bionic_reading.py
/chardet-5.1.0-py3-none-any.whl
/combined_advanced_lineup_data_2024-25.csv
/combined_basic_lineup_data_2024-25.csv
/combined_lineup_data_2024-25.csv
/delete_me_test_request.py
/flashcards.py
/flashcards2.py
/lineup_data_2man_2024-25.csv
/lineup_data_3man_2024-25.csv
/lineup_data_5man_2024-25.csv
/mics_gamelogs.xlsx
/min_timberwolves_lineups.csv
/package.zip
/pbp_data.csv
/pbp_test.csv
/portugues.py
/pysrt-1.1.2.tar.gz
/quant_score.py
/riseandfalloftheromanempire.pdf
/spotify-2023.xlsx
/steph_vs_ant_with_faces_and_scoreboard.gif
/streamlit_template.py
/team_leaderboard_2024.csv
/team_leaderboard_2025.csv
/test_trans.json
/timberwolves_career_leaders.csv
/timberwolves_game_logs_2023-24.csv
/timberwolves_game_logs_2024-25.csv
/timberwolves_leaders.csv
/timberwolves_player_records.csv
/timberwolves_player_stats.csv
/timberwolves_player_stats_with_last_games.csv
/timberwolves_stats_2024_25.csv
/tracking.mp4
/transcript.py
/transcript2.py
/tvscientific_screen.ipynb
/tvscientific_screen.pdf
/tvscitest.py
/venv 2
/week_over_week_changes.xlsx
/words.xlsx
/~$words.xlsx